.youtube-trailer-box-hof2 {
	max-width: 700px;
	height: 430px;
	padding: 0;
	margin-right: 40px;
}

.youtube-trailer-box-hof2:before {
 	content:url('../img/redLeft.png'); /* with class ModalCarrot ??*/
  	position:absolute; /*or absolute*/
 	left: -40px;
 	top: -30px;
}

.youtube-trailer-box-hof2:after {
	content:url('../img/redRight.png'); /* with class ModalCarrot ??*/
  	position:absolute; /*or absolute*/
 	right: -40px;
 	left: auto;
 	top: -30px;
}

#constraint {
	background:#000;
}

youtube-iframe {
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
}

.trailer-text-area .red-text, .trailer-text-area h2 {
	color:#b82b14;
	position: relative;
}

.trailer-text-area h2 {
	margin-bottom: 50px;
}

.trailer-text-area h2:after, .trailer-text-area h2:before{
  content:url('../img/redHorizon.png'); /* with class ModalCarrot ??*/
  position:absolute; /*or absolute*/
  bottom: -35px;
  left: 0;
}

.trailer-text-area h2:before {
	bottom: auto;
	top: -70px;
}

.overview-container {
    background-image: url(../img/overviewbackground.png);
    margin-top: -10%;
    position: relative;
}

.trailer-text-area.overview h3 {
	margin: 20px 0;
	padding: 20px 0 0 ;
}

.key-features-container .trailer-text-area.overview, .key-features-container .trailer-text-area.overview h3 {
	text-align: center;
}

.key-features-container .trailer-text-area.overview .white-border-under:after, .key-features-container .trailer-text-area.overview .white-border-bottom:after {
	margin-left:auto;
	margin-right:auto;
}

.white-border, .white-border-bottom, .black-border, .black-border-bottom {
	border: 0px;
}

.white-border:before, .black-border:before {
	display: block;
	content: "";
	position: relative;
	width: 60%;
	height: 1px;
	background: #fff;
	margin-bottom: 20px;
}

.white-border.full-width:before, .black-border.full-width:before {
	width: 100%;
}

.white-border-bottom:after, .black-border-bottom:after {
	display: block;
	content: "";
	position: relative;
	width: 60%;
	height: 1px;
	background: #fff;
	margin-top: 20px;
}

.white-border-under:after {
	display: block;
	content: "";
	position: relative;
	width: 60%;
	height: 1px;
	background: #fff;
	margin-top: 20px; 
}

.black-border:before, .black-border-bottom:after {
	background: #000;
}

.key-features-container{
	padding-bottom:600px;
	top: -20px;
}
.overview-container {
	padding-bottom: 400px;
}

.screenshots-section { 
	background: url(../img/repeatingBg.jpg);
}

.overview-container h3 {
	text-align: left;
}

h1, h2,h3 {
    font-family: 'Oswald', sans-serif;
}

p {
	line-height: 1.5;
}

.screenshots-section-hof {
    padding-top: 30%;
    padding-bottom: 70%;
    margin-bottom: -40px;
}

@media screen and (max-width: 1002px) and (min-width: 320px) {
	.white-border:before, .black-border:before {
		margin-left:auto;
		margin-right:auto;
	}

	.white-border-bottom:after, .black-border-bottom:after {
		margin-left:auto;
		margin-right:auto;
	}

	.white-border-under:after {
		margin-left:auto;
		margin-right:auto;
	}
	.overview-container h3 {
		text-align: center;
	}
	.trailer-text-area {
		text-align: center;
	}
	.trailer-text-area h2:after, .trailer-text-area h2:before{
	  margin-left: 50%;
	  left: -125px;
	}

	.trailer-text-area .red-text {
		text-align: center;
	}
	.youtube-trailer-box-hof2 {
	    margin: 0 auto;
	}
}

@media screen and (min-width: 700px) {
	.shaman{
	    display: none;
	}
	.trailer-text-area.overview h3 {
		text-align: left;
	}
	.screenshot-flex {
		width: 100%;
		padding-top: 60px;
	}
	.screenshot-flex .image-popup-no-margins {
		width: 33%;
	}
	.screenshots-section-hof {
		padding-bottom: 50%;
	}
}

@media screen and (min-width: 1050px) {
	.screenshot-flex .image-popup-no-margins {
		width: 50%;
	}
	.shaman{
	    display: block;
	}
	.overview-container, .key-features-container {
		padding-bottom: 56.25%;
	}
	.screenshot-flex {
		width: 50%;
		padding-top: 10px;
	}
}

@media screen and (min-width: 1200px) {
	li.black-text, p.white-text, p.red-text {
	    font-size: 1em;
	}
	.screenshots-section-hof {
		padding-bottom: 45%;
	}
}

@media screen and (min-width: 1450px) {
	li.black-text, p.white-text, p.red-text {
	    font-size: 1em;
	}
	.trailer-text-area.overview {
		bottom: 20px;
		max-width: 300px;
	}
	.trailer-text-area {
		max-width: 400px;
	}
	.screenshot-flex, .screenshot-flex-hof {
	    width: 55%;
	}
}

@media screen and (max-width: 3000px) and (min-width: 1921px) {
	p.white-text, p.black-text, li.black-text, p.red-text {
	    font-size: 1em;
	}
}