.intro-background {
	background-image:url(../img/backgroundhof.png);
	background-size:cover;
	width:100%;
	display:block;
	box-sizing:border-box;
	padding-bottom:5%
}

@media screen and (min-width: 320px ) and (max-width: 805px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:70%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 569px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:80%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 539px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:90%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 469px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:100%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 437px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:110%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 406px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:130%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 373px) {
	.overview-container-hof, .key-features-container-hof {
		padding-bottom:160%;
	}
}

.black-text {
	list-style: none;
	line-height:1.6;
	padding-left:10px;
	padding-bottom:10px;
}

.text-container {
	margin-top:10%;
	width: 30%;
	margin-left:45%;
	margin-right:5%;
}

.text-container-left {
	margin-top:8%;
	width: 30%;
	margin-left:5%;
	margin-right:5%;
}


