html {
	background-color: #000000;
	 background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.home-background {
	background: url(../img/background.jpg);
    background-size: cover;
    /* margin-top: -200px; */
    border-top: 1px solid #623e18;
    padding-top: 40px;
}

.page-content {
	width: 100%;
	background-color: #000000;
}

.navigation {
	width:100%;
	box-sizing:border-box;
	padding:10px;

}

.navigation nav ul li {

	list-style:none;
	margin-right:20px;
}

.nav-flex {
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}

.news-logo, .hof-logo, .hof2-logo, .about-logo {
	width: 49px;
	height: 49px;
	box-sizing:border-box;
	margin:10px;
}
.nav-logo {
	width: 153px;
	height: 34px;
	box-sizing:border-box;
	margin:10px;
}


.landing-hof-2 {
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
	width: 100%;
	display:block;
	position:relative;
	padding-bottom:56.25%;
	height:0px;
	overflow:visible;
}
/*
.container::before {
	background-image: url('../img/gradient.png');
    background-size: cover;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height:182px;
}
*/
.blog {
	width:100%;
	max-width: 700px;
	box-sizing:border-box;
	display:block;
}

.blog-entry-container {
	box-sizing:border-box;
	padding:10px;
	margin:10px 10px 20px 10px;
}


.blog-box-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: #f2f2f2;
	padding:10px;
	margin:0px 10px 0px 10px;
	box-sizing:border-box;
	border-bottom: 1px solid;
	border-color: #840200;
}

.blog-title {
	font-size: 1.5em;
	color: #f2f2f2;
}

.blog-content p {
	color: #f2f2f2;
}

.bottom-blog-border {
	width: 100%;

}

.footer-container {
	box-sizing:border-box;
	width:100%;
	height:130px;
}

.footer-container-hof2 {
	box-sizing:border-box;
	width:100%;
	height:130px;
	background-color:black;
}

.footer-logo {
	width: 100px;
	display:block;
	margin: 0 auto;
}

.footer-text {
	width: 100%;
	display:block;
	margin: 0 auto;
	text-align: center;
	color: #f2f2f2;
	font-size: 0.8em;
}

.nav-button-small {
	font-family: 'Oswald', sans-serif;
	color: #f2f2f2;
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.nav-button-small:hover {
	color:white;
}

.link-icon {
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.twitter-container {
	width: 300px;
	max-height: 800px;
	margin-top:10px;
}

.twitter-title {
	font-size: 1.6em;
    color: #f2f2f2;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    width:300px;
	float: left;
	height:auto;
    margin-left: 40px;

}

.twitter-timeline {
	max-height: 1400px;
	overflow: scroll;
	background-color: rgba(0,0,0,0);
}

.mobile-logo {
	width: 100%;
	display:none;
	width: 153px;
	height: 34px;
	box-sizing:border-box;
	margin: 0 auto;
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.twitter-container, .twitter-title {
		display:none;
	}

	.nav-logo {
		display:none;
	}

	.nav-flex {
		justify-content:space-around;
	}

	.mobile-logo {
		display:block;
	}

}

.full-width-gradient {
	width:100%;
	height:0px;
	background-image: url('../img/gradient.png');
    background-size: cover;
    content: "";
    display: block;
    width: 100%;
    position: relative;
    padding-bottom:10%;
    z-index:0;
}

.hof-2-logo {
	width: 20%;
	margin-left:5%;
	margin-top:2%;
}

.youtube-trailer-box {
	width: 100%;
	box-sizing:border-box;
	margin:0% 2% 2% 2%;
	padding: 10px;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

.trailer-text-area {
	width: 40%;
	color:white;
	padding:10px;
	margin:10px;
	box-sizing:border-box;

}

.overview-container, .screenshots-section, .key-features-container {
	width:100%;
	position:relative;
	overflow:visible;
	box-sizing:border-box;
	padding-top:10%;
	padding-bottom:56.25%;
	display:flex;
	height:0px;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
}

.overview-container {
	background-image: url(../img/overviewbackground.png);
}

.key-features-container {
	background-image: url(../img/keyfeatures.png);
}

.coming-soon-container {
	background-color:black;
	margin-top: -20%;
	padding-top: 20%;
	box-sizing:border-box;
	z-index: -1;
	width:100%;
	padding-bottom:10%;
}

.girl {
	background-image: url(../img/female.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:30%;
	padding-bottom:45%;
	content: "";
}

.shaman {
	background-image: url(../img/shaman.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:55%;
	padding-bottom:80%;
	margin-top: -27%;
	content: "";
}

.platform-flex {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	width:100%;
}

.platform-item {
	width:15%;
	height:15%;
}

.coming-soon {
	width:100%;
	color:#f2f2f2;
	font-size: 3em;
	text-align: center;
	margin:0 auto;
	float:left;
	display:block;
	margin-bottom:40px;
	font-weight: 700;
}

html {
	background-color: #1d1d1d;
	background: url(../img/repeatingbg.jpg); 
}

h2 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 10px;
	color: #b82b14;
}

h3 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 10px;
	color: #d4d4d4;
	text-align: center;
}

h4 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 10px;
	color: #1d1d1d;
	margin-top: -9%;
}

p.red-text {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	color: #b82b14;
	text-align: left;
}

@media screen and (min-width: 320px ) and (max-width: 960px) {
	p.red-text {
		font-size: 0.9em;
	}
}

@media screen and (min-width: 1921px ) and (max-width: 3000px) {
	p.white-text, p.black-text, li.black-text, p.red-text {
		font-size:1.3em;
	}

	h4, h2 {
		font-size: 3em;
	}

	.coming-soon {
		font-size: 4em;
	}
}

@media screen and (min-width: 1450px ) and (max-width: 1920px) {
	li.black-text, p.white-text, p.red-text {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 1200px ) and (max-width: 1450px) {
	li.black-text, p.white-text, p.red-text{
		font-size: 1em;
	}
}

p.white-text {
	font-family: 'Oxygen', sans-serif;
	color: #d4d4d4;
}

p.black-text {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	color: #1d1d1d;
	text-align: left;
}

li.black-text {
	color: black;
	text-align: left;
}

ul.black-text {
	margin-top: -20px;
}

.navigation nav ul li {
	list-style:none;
	margin-right:20px;
}

.navigation {
	width: 100%;
	box-sizing:border-box;
	padding:7px;
}

#constraint {
	max-width: 1920px;
	overflow:hidden;
	display:block;
	margin: 0 auto;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.page-content {
	width: 100%;
	background-color: #000000;
}

.news-logo, .hof-logo, .hof2-logo, .about-logo {
	width: 49px;
	height: 49px;
	box-sizing: border-box;
	margin: 10px;
}

.nav-logo {
	width: 107px;
	height: 24px;
	box-sizing: border-box;
	margin: 10px;
}

.landing {
	width: 100%;
	height: auto;
}

.landing-hof-2 {
	background-image: url(../img/landinghof2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	display: block;
	position: relative;
	padding-bottom: 56.25%;
	height: 0px;
	overflow: visible;
}

.landing-hof-1 {
	background-image: url(../img/hoflanding.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	width: 100%;
	display: block;
	position: relative;
	height: 0px;
	overflow: visible;
	padding-bottom: 56.25%;
}

.blog {
	width: 100%;
	max-width: 700px;
	box-sizing: border-box;
	display: block;
}

.blog-entry-container {
	box-sizing: border-box;
	padding: 10px;
	margin: 10px 10px 20px 10px;
}

.blog-box-heading {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: #f2f2f2;
	padding: 10px;
	margin: 0px 10px 0px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid;
	border-color: #840200;
}

.blog-title {
	font-size: 1.5em;
	color: #f2f2f2;
}

.blog-content p {
	color: #f2f2f2;
}

.bottom-blog-border {
	width: 100%;
}

.footer-container {
	box-sizing: border-box;
	width: 100%;
	height: 130px;
}

.footer-logo {
	width: 100px;
}

.footer-text {
	width: 100%;
}

.nav-button-small {
	font-family: 'Oxygen', sans-serif;
	color: #f2f2f2;
	height: 44px;
	box-sizing: border-box;
	margin: 10px;
	font-size: 1em;
	font-weight: 700;
	line-height: 3em;
}

.nav-button-small:hover {
	color: white;
}

.link-icon {
	height: 44px;
	box-sizing: border-box;
	margin: 10px;
	font-size: 1em;
	font-weight: 700;
	line-height: 3em;
}

.twitter-container {
	width: 300px;
	max-height: 800px;
	margin-top: 10px;
}

.twitter-title {
	font-size: 1.6em;
	color: #f2f2f2;
	padding: 10px;
	margin: 0px 10px 10px 10px;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
}

.twitter-timeline {
	max-height: 1400px;
	overflow: scroll;
	background-color: rgba(0,0,0,0);
}

.youtube-trailer-box {
	width: 100%;
	box-sizing: border-box;
	margin-top: -8%;
	padding: 5% 10px 15% 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: black;
}

.girl {
	background-image: url(../img/female.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 30%;
	padding-bottom: 45%;
}

.guy {
	background-image: url(../img/swordguy.png);
	background-size: contain;;
	background-repeat: no-repeat;
	content: "";
	width: 50%;
	padding-bottom: 45%;
	background-position: center;
	margin-left: 5%;
}

.rat-dude {
	box-sizing:border-box;
	margin-top:-3%;
	background-image: url(../img/ratguy.png);
	background-size: contain;;
	background-repeat:no-repeat;
	width:50%;
	padding-bottom: 52%;
}

.platform-flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.platform-item {
	width: 15%;
	height: 15%;
}

.coming-soon {
	width: 100%;
}

.screenshot-flex, .screenshot-flex-hof {
	display: flex;
}

.screenshot-flex-hof {
	width: 100%;
}

.image-popup-no-margins {
	width: 50%;
	padding: 1%;
}

.responsive-image {
	border-radius: 11px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 100%;
}

.youtube-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	width: 50%;
	position: absolute;;;
}

.nav-flex {
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}



.landing-hof-2 {
	background-image: url(../img/landinghof2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
	width: 100%;
	display:block;
	position:relative;
	padding-bottom:56.25%;
	height:0px;
	overflow:visible;
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.landing-hof-1 {
		padding-bottom:130%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 500px) {
	.landing-hof-1 {
		padding-bottom:200%;
		background-image: url(../img/hofmobile.png);
	}
}

.blog {
	width:100%;
	max-width: 700px;
	box-sizing:border-box;
	display:block;
}

.clear-float {
	clear: both;
}

.blog-entry-container {
	box-sizing:border-box;
	padding:10px;
	margin:10px 10px 20px 10px;
}

.blog-box-heading {
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: #f2f2f2;
	padding:10px;
	margin:0px 10px 0px 10px;
	box-sizing:border-box;
	border-bottom: 1px solid;
	border-color: #840200;
}

.blog-title {
	font-size: 1.5em;
	color: #f2f2f2;
}

.blog-content p {
	color: #f2f2f2;
}

.bottom-blog-border {
	width: 100%;
}

.footer-container {
	box-sizing:border-box;
	width:100%;
	height:130px;
}

.footer-container-hof2 {
	box-sizing:border-box;
	width:100%;
	height:130px;
	background-color:black;
}

.footer-logo {
	display:block;
	margin: 0 auto;
}

.footer-text {
	display:block;
	margin: 0 auto;
	text-align: center;
	color: #f2f2f2;
	font-size: 0.8em;
}

.nav-button-small {
	font-family: 'Oxygen', sans-serif;
	color: #f2f2f2;
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.nav-button-small:hover {
	color:white;
}

.link-icon {
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.twitter-container {
	width: 300px;
	max-height: 800px;
	margin-top:10px;
}

.twitter-title {
	font-size: 1.6em;
    color: #f2f2f2;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    float: right;
}

.twitter-timeline {
	max-height: 1400px;
	overflow: scroll;
	background-color: rgba(0,0,0,0);
}

.mobile-logo {
	width: 100%;
	display:none;
	width: 153px;
	height: 34px;
	box-sizing:border-box;
	margin: 0 auto;
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.twitter-container, .twitter-title {
		display:none;
	}

	.nav-logo {
		display:none;
	}

	.nav-flex {
		justify-content:space-around;
	}

	.logoCont {
		display: block;
		width: 100%;
	}
	.mobile-logo {
		display: block;
	}

}

.full-width-gradient {
	width: 100%;
	height: 0px;
	background-image: url('../img/gradient.png');
	background-size: cover;
	content: "";
	display: block;
	position: relative;
	padding-bottom: 10%;
	z-index: 0;
}

.hof-2-logo {
	width: 20%;
	margin-left: 5%;
	margin-top: 2%;
}

.youtube-trailer-box-hof {
	width: 70%;
	box-sizing:border-box;
	padding: 5% 10px 34% 10px;
	justify-content: center;
	margin: 0 auto;
	position:relative;
	height:0;
	margin-top: 5%;
	margin-bottom: 15%;
	max-width: 960px;;
}

.youtube-trailer-box-hof2 {
	width: 70%;
	box-sizing:border-box;
	padding: 5% 10px 30% 10px;
	position:relative;
	height:0;
	justify-content: center;
	margin-bottom: 15%;
}

.trailer-text-area {
	width: 40%;
	box-sizing: border-box;
	color: white;
	margin:2%;
}

.trailer-box {
	display:flex;
	justify-content: center;
	box-sizing:border-box;
	margin:2%;
}

.trailer-text-area-hof {
	color:white;
	padding:10px;
	box-sizing:border-box;
	margin: 8%;
	width:45%;
}

@media screen and (min-width: 320px ) and (max-width: 1002px) {
	.trailer-text-area {
		width:100%;
		margin:0 auto;
		margin-bottom:10%;
		text-align: center;
		margin-right:2%;
	}

	.trailer-text-area-hof {
		width:100%;
		text-align: center;
		margin-left:4%;
	}

	.trailer-box {
		flex-wrap: wrap;
	}

	.youtube-trailer-box-hof2 {
		padding-bottom: 35%;
		margin:0 auto;
		margin-bottom:5%;
	}

	.guy {
		margin-left:5%;
	}

}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	p.white-text {
		font-size: 1em;
	}

	h4 {
		margin-top:0px;
	}
	.girl, .shaman, .guy, .rat-dude {
		display:none;
	}
	.trailer-text-area-hof {
		width:100%;
	}
}
@media screen and (min-width: 320px ) and (max-width: 785px) {
	p.white-text {
		font-size: 1em;
	}
}

@media screen and (min-width: 320px ) and (max-width: 615px) {
	h4 {
		font-size: 1.5em;
		margin-top: -5%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 400px) {
	h3, h4 {
		font-size: 1.5em;
		margin-top:5%;
	}

}

.overview-container {
	background-image: url(../img/overviewbackground.png);
	margin-top: -10%;
	z-index:1;;
}

@media screen and (min-width: 320px ) and (max-width: 585px) {
	.overview-container {
		padding-bottom:70%;
	}
}

.overview-container-hof {
	margin-top: -15%;
	z-index: 2;
}

.screenshots-section-hof {
	background-image: url(../img/hof2background.jpg);
	margin-top:-10%;
}

.screenshots-section {
	background-image: url(../img/hof2background.jpg);
	margin-top:-15%;

}

.key-features-container {
	background-image: url(../img/keyfeatures.png);
	margin-top: -10%;
}

.key-features-container-hof {;;
	margin-top: -14%;
}

.coming-soon-container {
	margin-top: -20%;
	padding-top: 20%;
	box-sizing:border-box;
	z-index: -1;
	width:100%;
	padding-bottom:10%;
}

@media screen and (min-width: 320px ) and (max-width: 635px) {
	.key-features-container {
		padding-bottom:60%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 560px) {
	.key-features-container {
		padding-bottom:65%;
	}

	.overview {
		padding-bottom:20%;
	}
}

.overview {
	margin-left: 2%;
	padding-top: 20px;
}

.overview-container, .screenshots-section, .screenshots-section-hof, .key-features-container, .key-features-container-hof, .overview-container-hof {
	width: 100%;
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	padding-top: 10%;
	display: flex;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-bottom: 56.25%;
	height: 0px;
}

.overview-container {
	background-image: url(../img/overviewbackground.png);
	margin-top: -10%;
}

.overview-container-hof {
	background-image: url(../img/overviewhof12.png);
}

.screenshots-section-hof {
	padding-top: 15%;
	margin-top: -20%;
	margin-bottom: 10%;
	padding-bottom: 70;
}

.key-features-container {
	background-image: url(../img/keyfeatures.png);
	margin-top: -8%;
}

.key-features-container-hof {
	background-image: url(../img/keyfeatureshof.png);
}

.coming-soon-container {
	background-color: black;
}

@media screen and (min-width: 320px ) and (max-width: 542px) {
	.overview-container, .overview-container-hof, .key-features-container, .key-features-container-hof {
		padding-bottom:115%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 441px) {
	.overview-container, .overview-container-hof, .key-features-container, .key-features-container-hof {
		padding-bottom:130%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 384px) {
	.overview-container, .overview-container-hof, .key-features-container, .key-features-container-hof {
		padding-bottom:190%;
	}
	.trailer-text-area {
		margin-top:30px;
	}
	h3 {
		margin-top: 20%;;
	}
}

.shaman {
	padding-bottom:65%;
	margin-top: -10%;
	content: "";
	background-image: url(../img/shaman.png);
	background-size: cover;;
	background-repeat:no-repeat;
	width:45%;
	margin-left:-10%;
	z-index:2;
}

.platform-flex {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	width:100%;
}

.platform-item {
	width:15%;
	height:15%;
}

.coming-soon {
	color:#f2f2f2;
	font-size: 3em;
	text-align: center;
	margin:0 auto;
	float:left;
	display:block;
	margin-bottom:40px;
	font-weight: 700;
}

.screenshot-flex, .screenshot-flex-hof {
	justify-content: center;
	width:80%;
	flex-wrap: wrap;
	margin-top:-10%;
}

.screenshot-flex-hof {
	margin-left:10%;
	margin-right:10%;
}

.screenshot-flex {
	margin-top:0%;
}

.image-popup-no-margins {
	width:50%;
	padding:1%;
}

@media screen and (min-width: 1921px ) and (max-width: 300px) {
	.image-popup-no-margins {
	
	}
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.screenshot-flex {
		width:100%;
	}
	.screenshots-section {
		padding-bottom: 110%;
		margin-top:-14%;
	}
		.platform-item {
		width: 70%;
		padding: 0px 30px 20px 30px;
	}
	.full-width-gradient {
		display: none;
	}
	.hof-2-logo {
		width:50%;
		display: block;
		margin: 0 auto;
	}
	.landing-hof-2 {
		padding-bottom: 100%;
	}
	.coming-soon-container {
		margin-top:-20%;
	}
}

.responsive-image {
	border-radius:11px;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width:100%;
}

.intro-box {
	width: 30%;
	margin-left: 20%;
	margin-top:-12%;
}

@media screen and (min-width: 320px ) and (max-width: 500px) {
	.intro-box {
		width: 60%;
		margin-left:5%;
		margin-right:0px;
	}
}

.youtube-iframe {
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.logoCont {
	background: #000;
}

.white-border {
	border-top: 1px solid #d4d4d4;
	margin-top: 20px;;
}

.white-border-bottom {
	border-bottom: 1px solid #f2f2f2;
}

.black-border {
	border-top: 1px solid #1d1d1d;
}

.black-border-bottom {
	border-bottom: 1px solid #1d1d1d;
}

.red-border {
	border-top: 1px solid #b82b14;
}

.red-border-bottom {
	border-bottom: 1px solid #b82b14;
}