html {
	background-color: #000000;
	 background: url(../img/hof2background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.page-content {
	width: 100%;
	background-color: #000000;
}

.navigation {
	width:100%;
	box-sizing:border-box;
	padding:10px;

}

.navigation nav ul li {

	list-style:none;
	margin-right:20px;
}

.nav-flex {
	display:flex;
	flex-wrap:wrap;
	justify-content:left;
}

.news-logo, .hof-logo, .hof2-logo, .about-logo {
	width: 49px;
	height: 49px;
	box-sizing:border-box;
	margin:10px;
}
.nav-logo {
	width: 153px;
	height: 34px;
	box-sizing:border-box;
	margin:10px;
}
.landing {
	background-image: url(../img/landing.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
	width: 100%;
	display:block;
	position:relative;
	padding-bottom:56.25%;
}

.landing-hof-2 {
	background-image: url(../img/landinghof2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
	width: 100%;
	display:block;
	position:relative;
	padding-bottom:56.25%;
	height:0px;
	overflow:visible;
}
/*
.container::before {
	background-image: url('../img/gradient.png');
    background-size: cover;
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height:182px;
}
*/
.blog {
	width:100%;
	max-width: 700px;
	margin: 0 auto;
	box-sizing:border-box;
	display:block;
}

.blog-entry-container {
	box-sizing:border-box;
	padding:10px;
	margin:10px 10px 20px 10px;
}


.blog-box-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: #f2f2f2;
	padding:10px;
	margin:0px 10px 0px 10px;
	box-sizing:border-box;
	border-bottom: 1px solid;
	border-color: #840200;
}

.blog-title {
	font-size: 1.5em;
	color: #f2f2f2;
}

.blog-content p {
	color: #f2f2f2;
}

.bottom-blog-border {
	width: 100%;

}

.footer-container {
	box-sizing:border-box;
	width:100%;
	height:130px;
}

.footer-container-hof2 {
	box-sizing:border-box;
	width:100%;
	height:130px;
	background-color:black;
}

.footer-logo {
	width: 100px;
	display:block;
	margin: 0 auto;
}

.footer-text {
	width: 100%;
	display:block;
	margin: 0 auto;
	text-align: center;
	color: #f2f2f2;
	font-size: 0.8em;
}

.nav-button-small {
	font-family: 'Oswald', sans-serif;
	color: #f2f2f2;
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.nav-button-small:hover {
	color:white;
}

.link-icon {
	height: 44px;
	box-sizing:border-box;
	margin:10px;
	font-size:1em;
	font-weight: 700;
	line-height:3em;
}

.twitter-container {
	width: 300px;
	max-height: 800px;
	margin-top:10px;
}

.twitter-title {
	font-size: 1.6em;
    color: #f2f2f2;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;

}

.twitter-timeline {
	max-height: 1400px;
	overflow: scroll;
	background-color: rgba(0,0,0,0);
}

.mobile-logo {
	width: 100%;
	display:none;
	width: 153px;
	height: 34px;
	box-sizing:border-box;
	margin: 0 auto;
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.twitter-container, .twitter-title {
		display:none;
	}

	.nav-logo {
		display:none;
	}

	.nav-flex {
		justify-content:space-around;
	}

	.mobile-logo {
		display:block;
	}

}

.full-width-gradient {
	width:100%;
	height:0px;
	background-image: url('../img/gradient.png');
    background-size: cover;
    content: "";
    display: block;
    width: 100%;
    position: relative;
    padding-bottom:10%;
    z-index:0;
}

.hof-2-logo {
	width: 20%;
	margin-left:5%;
	margin-top:2%;
}

.youtube-trailer-box {
	width: 100%;
	box-sizing:border-box;
	margin-top: -8%;
	padding: 5% 10px 15% 10px;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	background-color: black;
}

.trailer-text-area {
	width: 40%;
	color:white;
	padding:10px;
	margin:10px;
	box-sizing:border-box;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 10px;
	color: #b82b14;
}

h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

p.red-text {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	color: #b82b14;
}

p.white-text {
	font-family: 'Oswald', sans-serif;
	font-size: 1.1em;
	color: #f2f2f2;
	text-align:left;
}

@media screen and (min-width: 320px ) and (max-width: 1002px) {
	.trailer-text-area {
		width:100%;
		text-align: center;
	}
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	p.white-text {
		font-size: 1em;
	}
	.girl, .shaman {
		display:none;
	}
}

.overview-container, .screenshots-section, .key-features-container {
	width:100%;
	position:relative;
	overflow:visible;
	box-sizing:border-box;
	padding-top:10%;
	display:flex;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position:top;
	padding-bottom:56.25%;
	height:0px;
}

.overview-container {
	background-image: url(../img/overviewbackground.png);
	margin-top: -10%;
}

.key-features-container {
	background-image: url(../img/keyfeatures.png);
	margin-top: -10%;
}

.coming-soon-container {
	background-color:black;
	margin-top: -20%;
	padding-top: 20%;
	box-sizing:border-box;
	z-index: -1;
	width:100%;
	padding-bottom:10%;
}

@media screen and (min-width: 320px ) and (max-width: 635px) {
	.key-features-container {
		padding-bottom:60%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 560px) {
	.key-features-container {
		padding-bottom:65%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 542px) {
	.overview-container, .key-features-container {
		padding-bottom:100%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 441px) {
	.overview-container, .key-features-container {
		padding-bottom:125%;
	}
}

@media screen and (min-width: 320px ) and (max-width: 384px) {
	.overview-container, .key-features-container {
		padding-bottom:170%;
	}
	.trailer-text-area {
		margin-top:30px;
	}
}


.girl {
	background-image: url(../img/female.png);
	background-size: cover;
	background-repeat: no-repeat;
	width:30%;
	padding-bottom:45%;
	content: "";
}

.shaman {
	padding-bottom:80%;
	margin-top: -27%;
	content: "";
	background-image: url(../img/shaman.png);
	background-size: cover;;
	background-repeat:no-repeat;
	width:50%;
	margin-left:-10%;
}

.platform-flex {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	width:100%;
}

.platform-item {
	width:15%;
	height:15%;
}

.coming-soon {
	width:100%;
	color:#f2f2f2;
	font-size: 3em;
	text-align: center;
	margin:0 auto;
	float:left;
	display:block;
	margin-bottom:40px;
	font-weight: 700;
}

.responsive-image {
}
.screenshot-flex {
	display:flex;
	justify-content: center;
	width:55%;
	flex-wrap: wrap;
	margin-top:-10%;
}

.image-popup-no-margins {
	width:50%;
	padding:1%;
}

@media screen and (min-width: 320px ) and (max-width: 700px) {
	.screenshot-flex {
		width:100%;
	}
	.screenshots-section {
		padding-bottom: 90%;
		margin-top:-2%;
	}
		.platform-item {
		width: 70%;
		padding: 0px 30px 20px 30px;
	}
	.full-width-gradient {
		display: none;
	}
	.hof-2-logo {
		width:50%;
		display: block;
		margin: 0 auto;
	}
	.landing-hof-2 {
		padding-bottom: 100%;
	}
	.coming-soon-container {
		margin-top:-30%;
	}
}