html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}p {line-height:1.5;margin-bottom:18px;color:#333;}.muted {color:#666;}h1, h2, h3, h4, h5, h6 {line-height:1.1;color:#000;}

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

h1, h2, h3, h4, h5, a{
			font-family: 'Cabin', sans-serif;
			}

p{
	font-family: "Open Sans", serif;
	}
	
ul{
	font-family: 'Cabin', sans-serif;
	}

p{
	font-family: 'Source Sans Pro', sans-serif;
	}

.centering{
			max-width: 1024px;
			width: 100%;
			margin: 0 auto;
			padding-bottom: 50px;
			position: relative;
			background-color: white;
			}
			
body{
				background-color: rgba(133, 173, 255, 0.3);
	}

.clearFloat{
			clear: both;
			}

/*
------------------------------------NAVIGATION------------------------------------
*/
			
.navigation{
			
			}
			
.navigation ul{
			text-align: center;
}
			
.navigation li{
			display: inline-block;
			}
			
.navigation a{
			display: block;
			color: black;		
			text-decoration: none;
			padding: 10px 15px;
			font-size: 14px;
			border-left: 1px solid #85ADFF;
			}
			
.navigation a:hover{
					background-color: rgba(133, 173, 255, 0.2);
					}

/*
------------------------------------FOOTER---------------------------------------
*/

.footer p{
			text-align: center;
			font-size: 12px;
			border-top: 1px solid grey;
			width: 80%;
			margin: 0 auto;
			margin-top: 40px;
			padding: 10px;
}
					
/*
------------------------------------TOP BAR--------------------------------------
*/
.topBar{
		height: 150px;
		margin: 0 auto;
		margin-bottom: 10px;
}

.logo{
		padding-left: 20px;
}

.members{
		position: absolute;
		top: 8px;
		right: 55px;
		font-size: 16px;
}

.members a{
			text-decoration: none;
			display: inline-block;
			padding: 8px 15px;
			color: black;
			border-left: 1px solid #85ADFF;
			font-size: 14px;
			}


.members a:hover{
				background-color: rgba(133, 173, 255, 0.2);
}

.search{
		position: absolute;
		top: 5px;
		right: 220px;
		border: 2px solid #85ADFF;
		border-radius: 5px;
		width: 400px;
}

.searchBar{
			position: relative;
			top: -3px;
			right: -10px;
			border-style: none;
			font-size: 16px;
}

.searchButton{
				position: relative;
				right: -120px;
				height: 25px;
				top: 3px;
				opacity: 0.5;
}

.searchButton:hover{
					opacity: 1.0;
}

.shopping{
		position: absolute;
		right: 15px;
		top: 3px;
}

.cart img{
		height: 40px;
		bottom: 10;
		opacity: 0.5;
}

.cart img:hover{
				opacity: 1;
}




					
/*
------------------------------------MAIN PAGE------------------------------------
*/


.specials{
			margin: 20px;
			text-align: center;
}

.items h1{
		font-size: 25px;
		text-align: center;
		background-color: rgba(0,0,0,0.0);
		padding: 10px;		
}

.newItems{
		width: 95%;
		margin: 0 auto;
}

.singleItem{
			padding: 30px;
			margin: 20px 5%;
			border-left: 2px solid #85ADFF;
			border-bottom: 2px solid #85ADFF;
			min-height: 360px;
			background-color: rgba(133, 173, 255, 0.3);
			border-radius: 2px;
}

.picture img{
		height: 300px;
		float: left;
		margin-right: 30px;
}

.singleItem h1{
				font-size: 30px;
}

.singleItem h2{					
				position: relative;
				top: 50px;
				font-family: 'Bangers', cursive;
				font-size: 46px;
				margin-left: 10%;
				float: right;
				color: #578eff;
}

.readMore {
			position: relative;
			top: 70px;
			text-decoration: none;
			display: inline-block;
			padding: 8px 15px;
			color: black;
			border-left: 1px solid #85ADFF;
			font-size: 14px;
			}
			
.readMore:hover{
					background-color: white;
}


/*
------------------------------------CHECKOUT------------------------------------
*/

.checkoutForm{
			margin-top: 30px;
}
fieldset{
		border: 1px solid black;
		margin: 40px 10% 20px 10%;
		padding: 30px;
		border-radius: 5px;
}

legend{
		font-weight: bold;
		font-size: 18px;
}

form{
	line-height: 1.7;
	border-radius: 3px;
}

label{
		min-width: 240px;
		float: left;
		font-weight: bold;
}

.personalInfo input, .paymentInfo input, .state{
		border-radius: 2px;
		border: 1px solid #85ADFF;		
		height: 30px;
		margin-bottom: 5px;
}

.suburb{
		min-width: 150px;
}


.cardSelection, .wrapping{
				margin-right: 10px;
}

.submitBtn{
			text-align: center;
			margin-top: 30px;
}

.submit{
		padding: 10px 20px;
		background: none;
		border: none;
		border-left: 1px solid #85ADFF;
		font-size: 16px;
}

.submit:hover{
				background-color: rgba(133, 173, 255, 0.6);
}

.finished{
		background-color: black;
}

.errorInput{
			border: 1px solid #C90000 !important;
			background: rgba(133,0,81,0.1);
}

/*
------------------------------------CART------------------------------------
*/

.yourCart{
		text-align: center;
		font-size: 25px;
		text-align: center;
		background-color: rgba(0,0,0,0.0);
		padding: 10px;
		margin-top: 20px;
}

.cartView{
			width: 95%;
			border: 1px solid black;
			border-radius: 2px;
			padding: 40px 10px 40px 10px;
			margin: 20px auto;
			
}

.cartItem{
			position: relative;
			border-left: 1px solid #85ADFF;
			border-bottom: 1px solid #85ADFF;
			border-radius: 2px;
			width: 95%;
			padding: 20px 10px;
			min-height: 110px;
			margin: 0 auto;
			
}

.image{
			width: 10%;
			margin: auto;
			float: left;
}

.name{
			width: 60%;
			float: left;
			padding: 25px 10px;
			font-size: 24px;
}

.price{
		width: 20%;
		float: left;
		text-align: right;
		padding-top: 25px;
		font-size: 20px
}

.cross{
		float: right;
		padding-top: 25px;
}

.cartTotal{
			width: 30%;
			margin: 30px 0px;
			float: right;
			text-align: right;
}

.cartTotal h2{
				float: left;
				min-width: 70px;
				text-align: right;
				margin-right: 15%;
				padding-bottom: 10px;
}

.cartTotal p{
			line-height: 1;
			padding-left: 10px;
			padding-bottom: 10px;
			text-align: left;
}

.checkoutBtn{
			float: right;
			display: block;
			padding: 10px;
			margin: 30px 10px;

}

.checkoutBtn a{
			display: block;
			color: black;		
			text-decoration: none;
			padding: 10px 15px;
			font-size: 14px;
			border-left: 1px solid #85ADFF;
			float: left;	
			margin-left: 5px;
}

.checkoutBtn a:hover{
					background-color: rgba(133, 173, 255, 0.2);
}








